/* VARIABLES ----------------------------------------------------------------*/

:root {
    --shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    --background-color: rgb(111, 179, 184);
    --border-color: rgb(0, 73, 73);
    --selected-color: rgb(56, 111, 117);
    --focus-color:  rgb(143,205,212);
    --button-color: rgb(56, 128, 135);
}

/* GLOBAL -------------------------------------------------------------------*/

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}
  
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

.standard-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--button-color);
    text-decoration: none;
    font-size: 100%;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 3px;
    height: 25px;
    margin-left: 5px;
}

.header-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--button-color);
    background: linear-gradient(90deg, var(--button-color) 80%,
     var(--focus-color) 150%);
    text-decoration: none;
    font-size: 100%;
    cursor: pointer;
    border: 1px solid black;
    height: 10vh;
    width: 90%;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    margin-top: 5px;
}

.standard-button:hover{
    background-color: var(--selected-color);
}

.header-button:hover{
    background-color: var(--selected-color);
}

.standard-button:focus{
    background-color: var(--focus-color);
}

.standard-button > div {
    display: flex;
    align-items: center;
    margin: 0 13px 0 5px;
}

/* LOGIN --------------------------------------------------------------------*/

#login-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: rgb(205, 209, 197);
    background: linear-gradient(180deg, rgba(218, 222, 209) 0%,
     rgba(246, 246, 242) 50%);
}

#login-body .standard-button {
    border: 1px solid var(--border-color);
}

#login-container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto 40px 40px;
    margin-bottom: 10%;
    background-color: rgb(111, 179, 184);
    padding: 20px;
    border-radius: 5px;
    box-shadow: var(--shadow);
    border: 1px solid var(--border-color);
}

#login-textfield {
    border: 1px solid var(--border-color);
    border-radius: 5px;
    background-color: var(--background-color);
}

#login-textfield:focus {
    background-color: var(--focus-color);
}

#login-buttons {
    display: flex;
    align-items: center;
    justify-content: right;
}

/* MAIN ---------------------------------------------------------------------*/

/* SKALET FÖR HELA NOTES/MAIN-SIDAN */
#notes-body {
    display: grid;
    height: 100%;
    
    /* 20%: bredden för sidenav */
    /* auto: resten av utrymmet på skärmen, dvs editorn */
    grid-template-columns: 20% auto;
}

/* hela rutan på högra sidan som innehåller anteckningens rubrik, editor och knappar. */
#note-main-grid {
    display: grid;
    background: linear-gradient(180deg, rgba(246, 246, 242) 0%,
     rgba(246, 246, 242) 50%);

    grid-template-columns: auto;
    grid-template-rows: 50px auto 40px;
    box-shadow: var(--shadow);
}

#editor {
    margin: 0;
    padding: 0;
    max-height: 90%;
}

.ql-toolbar {
    margin: 0;
    padding: 0;
}

/* Container där knapparna Save och Reset finns (för tillfället) */
#buttons-container {
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 10px;
    background-color: var(--selected-color);
}

/* PROBLEM */
#buttons-container div {
    width: 0px;
    height: 0px;
}

#toolbar {
    background-color: orchid;
}

/* Style the side navigation */
#sidenav {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background: linear-gradient(180deg, var(--selected-color) -5%,
     rgba(143,205,212) 10%);
    border-right: 1px solid black;
}

/* Side navigation links */
#sidenav a {
    color: black;
    padding: 16px;
    text-decoration: none;
    display: block;
}

/* Change color on hover */
#sidenav a:hover {
    background-color: var(--selected-color);
    color: gainsboro;
}

#sidenav > .nav-header {
    text-align: center;
    color: black;
    display: block; /* Så att div:en tar upp hela bredden (för att enkelt kunna centrera texten) */
}
   
.note-header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 200%;
    border: 1px solid black;
    background: linear-gradient(90deg, var(--button-color) 20%,
     var(--focus-color) 80%);
}
  
.note-header > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    font-size: 100%;
}

#header-buttons {
    display: flex;
    align-items: center;
    justify-content: right;
}

#scrolling-container{
    height: 100%;
    min-height: 100%;
    max-height: 100%;
    overflow-y: hidden;
}