/*#region VARIABLES*/
:root {
    --shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    --shadow-small: 2px 2px 2px rgba(0,0,0,0.20), 4px 4px 4px rgba(0,0,0,0.10);
    /*  Purple  */
    --purple-standard-color: rgb(170, 130, 190);
    --purple-border-color: rgb(62, 53, 67);
    --purple-selected-color: rgb(171, 146, 187);
    --purple-focus-color:  rgb(205, 190, 214);
    --purple-button-color: rgb(103, 88, 112);

    --purple-gradient-button: linear-gradient(90deg, var(--purple-border-color) -50%, var(--purple-button-color) 20%, var(--purple-button-color) 80%,
    var(--purple-border-color) 150%);
    /*  Teal    */
    --teal-standard-color: rgb(82, 126, 143);
    --teal-border-color: rgb(20, 30, 34);
    --teal-selected-color: rgb(86, 122, 135);
    --teal-focus-color:  rgb(107, 152, 169);
    --teal-button-color: rgb(66, 101, 114);

    --teal-gradient-button: linear-gradient(90deg, var(--teal-border-color) -50%, var(--teal-button-color) 20%, var(--teal-button-color) 80%,
    var(--teal-border-color) 150%);
    /*  Orange  */
    --orange-standard-color: rgb(212, 115, 30);
    --orange-border-color: rgb(85, 46, 12);
    --orange-selected-color: rgb(212, 115, 30);
    --orange-focus-color:  rgb(221, 143, 75);
    --orange-button-color: rgb(170, 92, 24);

    --orange-gradient-button: linear-gradient(90deg, var(--orange-border-color) -50%, var(--orange-button-color) 20%, var(--orange-button-color) 80%,
    var(--orange-border-color) 150%);
    /*  Red  */
    --red-standard-color: rgb(151, 51, 73);
    --red-border-color: rgb(28, 13, 19);
    --red-selected-color: rgb(155, 83, 98);
    --red-focus-color:  rgb(172, 92, 109);
    --red-button-color: rgb(121, 41, 58);

    --red-gradient-button: linear-gradient(90deg, var(--red-border-color) -50%, var(--red-button-color) 20%, var(--red-button-color) 80%,
    var(--red-border-color) 150%);

    /*  Standard colors */
    --login-top: rgb(61, 61, 61);
    --login-bottom: rgb(30, 30, 30);
    --darkest-background: rgb(20, 20, 18);
    --text-high-emphasis: rgba(255, 255, 255, 0.87);
    --text-med-emphasis: rgba(255, 255, 255, 0.6);
    --text-low-emphasis: rgba(255, 255, 255, 0.38);
    --text-black: rgba(30, 30, 30, .87);

    --dark-gradient: linear-gradient(90deg, var(--login-bottom) -100%, var(--login-top) 350%);
    --editor-gradient: linear-gradient(180deg, var(--login-top) -200vh, var(--login-bottom) 100vh);

    /*  Organizing all of the colors so that one can change them easily     */
    
        --standard-button: var(--login-top);
        --standard-button-hover: var(--red-focus-color);
        --standard-button-focus: var(--red-selected-color);
        
        --login-button: var(--teal-button-color);
        --login-button-hover: var(--teal-selected-color);
        --login-button-focus: var(--teal-focus-color);

        --register-button: var(--orange-button-color);
        --register-button-hover: var(--orange-selected-color);
        --register-button-focus: var(--orange-focus-color);

        --header-button-unselected: var(--red-gradient-button);
        --header-button-unselected-hover: var(--red-focus-color);
        --header-button-selected: var(--teal-gradient-button);
        --header-button-selected-hover: var(--teal-selected-color);

        --save-button: var(--orange-standard-color);
        --save-button-hover: var(--orange-focus-color);
        --delete-button: var(--red-button-color);
        --delete-button-hover: var(--red-focus-color);
}
/*#endregion*/

/*#region GLOBAL*/
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;;
}
  
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--text-high-emphasis);
}

button:focus {
    outline:0;
}
/*#endregion*/

/*      BUTTONS         */
/*#region Standard button + save button*/
.standard-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--standard-button);
    box-shadow: inset 0 0 30px var(--login-bottom);
    text-decoration: none;
    font-size: 100%;
    cursor: pointer;
    border: 1px solid black;
    height: 25px;
    margin-left: 5px;

    transition: 0.15s ease;
}

.standard-button:hover{
    background-color: var(--standard-button-hover);
    -webkit-filter: drop-shadow(2px 2px 2px rgba(0,0,0,.7)) 
                    drop-shadow(-1px -1px 4px rgba(255,255,255,.1));
    filter:drop-shadow(2px 2px 2px rgba(0,0,0,.7)) 
           drop-shadow(-1px -1px 4px rgba(255,255,255,.1));
           box-shadow: inset 0 0 4px black;
}

.standard-button:focus{
    background-color: var(--standard-button-focus);
}

.save-button{
    background-color: var(--save-button);
}

.save-button:hover{
    -webkit-filter: drop-shadow(2px 2px 2px rgba(0,0,0,.7)) 
                    drop-shadow(-1px -1px 4px rgba(255,255,255,.1));
    filter:drop-shadow(2px 2px 2px rgba(0,0,0,.7)) 
           drop-shadow(-1px -1px 4px rgba(255,255,255,.1));
           box-shadow: inset 0 0 4px black;
    background-color: var(--save-button-hover);
}

.standard-button > div {
    display: flex;
    align-items: center;
    margin: 0 13px 0 5px;
}
/*#endregion*/

/*#region Login and register buttons*/
.login-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--login-button);
    text-decoration: none;
    font-size: 100%;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 3px;
    height: 25px;
    margin-left: 5px;
    color: var(--text-med-emphasis);
    box-shadow: var(--shadow-small);
    transition: .15s ease;
}

.login-button:hover{
    background-color: var(--login-button-hover);
    -webkit-filter: drop-shadow(2px 2px 2px rgba(0,0,0,.7)) 
                    drop-shadow(-1px -1px 1px rgba(255,255,255,.2));
    filter:drop-shadow(2px 2px 2px rgba(0,0,0,.7)) 
           drop-shadow(-1px -1px 1px rgba(255,255,255,.2));
           color: var(--text-high-emphasis);
}

.login-button:focus{
    background-color: var(--login-button-focus);
}

.login-register{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--register-button);
    text-decoration: none;
    font-size: 100%;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 3px;
    height: 25px;
    margin-left: 5px;
    color: var(--text-black);
}

.login-register:hover{
    background-color: var(--register-button-hover);
    -webkit-filter: drop-shadow(2px 2px 2px rgba(0,0,0,.7)) 
                    drop-shadow(-1px -1px 1px rgba(255,255,255,.5));
    filter:drop-shadow(2px 2px 2px rgba(0,0,0,.7)) 
           drop-shadow(-1px -1px 1px rgba(255,255,255,.5));
           color: var(--text-low-emphasis);
}

.login-register:focus{
    background-color: var(--register-button-focus);
}

.login-button > div {
    display: flex;
    align-items: center;
    margin: 0 13px 0 5px;
}
/*#endregion*/

/*#region Header buttons*/
.header-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--header-button-unselected);
    text-decoration: none;
    font-size: 100%;
    cursor: pointer;
    border: 1px solid black;
    height: 10vh;
    width: 100%;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    margin-top: 5px;
}

.header-button:hover{
    background: var(--header-button-unselected-hover);
    -webkit-filter: drop-shadow(2px 2px 2px rgba(0,0,0,.7)) 
                    drop-shadow(-2px -2px 4px rgba(255,255,255,.5));
    filter: drop-shadow(2px 2px 2px rgba(0,0,0,.7)) 
           drop-shadow(-2px -2px 4px rgba(255,255,255,.5));
}
/*#endregion*/

/*#region Delete and Add buttons*/
.fa-plus-circle{
    color: var(--orange-button-color);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    font-size: 24px;
    cursor: pointer;
    border: 1px;
    border-radius: 100%;
    margin-left: none;
    height: 25px;
    width: 25px;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, .5);

    transition: 0.15s ease;
}

.fa-plus-circle:hover {
    color: var(--save-button-hover);
    -webkit-filter: drop-shadow(2px 2px 2px rgba(0,0,0,.7)) 
                    drop-shadow(-1px -1px 1px rgba(255,255,255,.5));
    filter:drop-shadow(2px 2px 2px rgba(0,0,0,.7)) 
           drop-shadow(-1px -1px 1px rgba(255,255,255,.5));
}

.fa-trash-alt{
    color: var(--delete-button);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    font-size: 24px;
    cursor: pointer;
    border: 1px;
    border-radius: 0%;
    margin-left: none;
    height: 25px;
    width: 18px;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, .5);

    transition: .15s ease;
}

.fa-trash-alt:hover {
    color: var(--delete-button-hover);
    -webkit-filter: drop-shadow(2px 2px 2px rgba(0,0,0,.7)) 
                    drop-shadow(-1px -1px 1px rgba(255,255,255,.5));
    filter:drop-shadow(2px 2px 2px rgba(0,0,0,.7)) 
           drop-shadow(-1px -1px 1px rgba(255,255,255,.5));
}

.special-round-button > div {
    display: flex;
    align-items: center;
    margin: 0 13px 0 5px;
}
/*#endregion*/


/*#region LOGIN*/
#login-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: rgb(205, 209, 197);
    background: linear-gradient(180deg, var(--login-top) 0%,
     var(--login-bottom) 100%);
}

#login-body .standard-button {
    border: 1px solid var(--purple-border-color);
}

#login-container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto 40px 40px;
    margin-bottom: 10%;
    background: var(--teal-gradient-button);
    padding: 20px;
    border-radius: 5px;
    box-shadow: var(--shadow);
    border: 1px solid var(--teal-border-color);
    text-shadow: var(--shadow-small);
}

#login-textfield {
    border: 1px solid var(--teal-border-color);
    border-radius: 5px;
    background-color: var(--teal-border-color);
    opacity: 50%;
    color: var(--text-high-emphasis);
    box-shadow: var(--shadow-small);

    transition: 0.25s ease;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color:  var(--text-med-emphasis);
    opacity: 1; /* Firefox */
}
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:  var(--text-med-emphasis);
}
  
::-ms-input-placeholder { /* Microsoft Edge */
    color:  var(--text-med-emphasis);
}

#login-textfield:focus {
    background-color: var(--teal-standard-color);
    opacity: 100%;
    color: var(--text-high-emphasis);
}

#login-buttons {
    display: flex;
    align-items: center;
    justify-content: right;
}
/*#endregion*/

/*#region MAIN*/
/* SKALET FÖR HELA NOTES/MAIN-SIDAN */
#notes-body {
    display: grid;
    height: 100vh;
    max-height: 100vh;
    background-color: olivedrab;
    
    /* 20%: bredden för sidenav */
    /* auto: resten av utrymmet på skärmen, dvs editorn, spara-knappar och rubrik etc. */
    grid-template-columns: 20% auto;
}

#notes{
    box-shadow: 0 3px 16px rgba(0, 0, 0, .2);
}

/* hela rutan på högra sidan som innehåller anteckningens rubrik, editor och knappar. */
#note-main-grid {
    display: grid;
    background: linear-gradient(0deg, var(--darkest-background) 0vh, var(--login-bottom) 100vh);

    grid-template-columns: auto;
    grid-template-rows: 65px  auto 40px;
    box-shadow: var(--shadow), inset 2vw 100px 32px rgba(0, 0, 0, 0.05), inset 0 30px 100px rgba(0, 0, 0, 0.2);
}

#note-header-grid {
    display: grid;
    grid-template-columns: auto 50px;
}

#note-header-grid .standard-button {
    display: inline-flex;
    justify-self: center;
    align-self: center;
}

#quill{
    display: block;
    border: none;
}

#editor {
    margin: 0;
    padding: 0;
    max-height: 90%;
}

.ql-toolbar {
    margin: 0;
    padding: 0;
    background: var(--login-bottom);
    border: none
}

.ql-editor{
    max-height: 84.8vh;
    min-height: 20vh;
    border: none;
    background: var(--editor-gradient);
}

/* Container där knapparna Save och Reset finns */
#buttons-container {
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 10px;
    background: var(--dark-gradient);
    box-shadow: inset 0 -6px 6px rgba(0, 0, 0, 0.4);
}

/* PROBLEM */
#buttons-container div {
    width: 0px;
    height: 0px;
}

#toolbar {
    background-color: orchid;
}

/* Style the side navigation */
#sidenav {
    display: grid;
    grid-template-rows: min-content auto 50px;
    margin: 0;
    padding: 0;
    background: linear-gradient(-90deg, var(--login-top) -200%,
     var(--login-bottom) 100%);
    border-right: 1px solid black;
    max-height: 100vh;
    overflow: auto;
    box-shadow: inset -20px 20px 24px rgba(0, 0, 0, .2);
}

#para{
    max-height: 50%;
}

/* Side navigation links */
#sidenav a {
    color: var(--text-high-emphasis);
    padding: 16px;
    text-decoration: none;
    display: block;
}

.add-delete-container{
    display: flex;
    justify-content: space-around;
    align-self: center;
    height: 40px;
    width: 20%;
    bottom: 0;
    position: absolute;
    pointer-events: none;
}

#save{
    pointer-events: auto;
}

#delete{
    pointer-events: auto;
}

/* Change color on hover */
#sidenav a:hover {
    background-color: var(--purple-selected-color);
    color: gainsboro;
}

#sidenav > .nav-header {
    text-align: center;
    align-items: center;
    color: var(--text-black);
    display: block; /* Så att div:en tar upp hela bredden (för att enkelt kunna centrera texten) */
    background: var(--red-gradient-button);
    height: 100%;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    text-shadow: -3px -3px 6px rgba(255, 255, 255, 0.1), 3px 3px 6px rgba(0, 0, 0, 0.2), -1px -1px 2px rgba(255, 255, 255, 0.2), 1px 1px 2px rgba(0, 0, 0, 0.4);
}
/*#endregion*/

/*#region NOTES*/

.top-header {
    display: inline-flex;
    margin: 0;
}

.note-header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 200%;
    border: 1px solid black;
    background: var(--dark-gradient);
    width: 90%;
}

#logout-button {
    height: 100%;
    width: 10%;
    margin: 0;
    border-radius: 0;
    color: var(--text-med-emphasis);
}

/* Container där knapparna Save och Reset finns (för tillfället) */
#buttons-container {
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 10px;
    background-color: darkcyan;
}

/* PROBLEM */
#buttons-container div {
    width: 0px;
    height: 0px;
}
/*#endregion*/

/*#region QUILL*/
/* hela rutan på högra sidan som innehåller anteckningens rubrik, editor och knappar. */
/* Funkar bra! */
#note-main-grid {
    display: grid;
    height: 100vh;
    max-height: 100vh;
    grid-template-rows: 50px auto 40px;
}

#header-buttons {
    display: flex;
    align-items: center;
    justify-content: right;
}

#quill-editor {
    height: 100%;
    max-height: 100%;
    overflow: auto;
}

#quill-container {
    height: 100%;
    max-height: 100%;
    overflow: auto;

    display: grid;
    grid-template-rows: min-content auto;
}

.ql-container.ql-snow {
    height: auto;
}
.ql-editor {
    overflow-y: scroll;
}

#attach-file-button {
    
}
/*#endregion*/

/*#region SCROLLBAR*/
/* width */
::-webkit-scrollbar {
    width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--login-bottom);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--login-top)
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
  /*#endregion*/